.bg_nav{
  background-color:blue;
  color: white;
  font-family: 600;
}

.nav_v{
  color: white;
  font-family: 600;
}

.search{
  width: 25px;
  background-position:center;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}