.cards{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 60%;
  border: 1px solid rgb(25, 177, 238);
  margin-left: 10px;}

@media (max-width:732px){
  .cards{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
    width: 90%;
    border-right: 10px solid blue;
    border: 1px solid black;
    margin-left: 0px;
    margin: 10px;}}


.cards:hover{
position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 60%;
  border: 1px solid blue;}

@media (max-width:732px){
  .cards:hover{
    position: relative;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 90%;
    }
}

.news_img{
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 210px;
  margin-left: 10px;
  overflow: hidden;
}

@media (max-width:732px){
  .news_img{
    position: relative;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    height: 210px;
    width: 180px;
  }
}

.img{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards:hover .img{
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  transition: 0.6s ease;
}


.news_content{
  display: flex ;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  width: 65%;
}



@media (max-width:732px){

.news_content{
  display: flex ;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  width: 90%;
}}

.Harrow{
  width: 30px;
}

.heading_container{
  display: flex;
  justify-content: space-around;
}

.news_heading{
  color: blue;
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;
  padding-left: 10px;
}

.read_more_btn{
  font-weight:700;
  color: white;
  background-image: linear-gradient(to right, blue, rgb(10, 162, 223));
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;

}
  .read_more_btn:hover{
    font-weight:700;
    color:white;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(10, 162, 223), blue);
    transition: 0.1s ease;
    border-radius: 5px;
    margin-top: 5px;
    }


    .read_show_btn{
      font-weight:700;
      color: rgb(2, 2, 230);
      padding: 5px;
      margin-top: 5px;
      width: 100px;
    }
      .read_show_btn:hover{
        font-weight:700;
        color:white;
        padding: 5px;
        background-image: linear-gradient(to right, blue, rgb(10, 162, 223));
        transition: 0.5s ease;
        border-radius: 5px;
        margin-top: 5px;
        width: 100px;

        }